<div style="width: 1351px; height: 923px; position: relative">
  <div style="width: 1351px; height: 923px; left: 0px; top: 0px; position: absolute; background: white">
    <div style="width: 1435.82px; height: 831.50px; left: -0.99px; top: 78.88px; position: absolute; background: white">
      <div style="width: 109px; height: 23px; left: 61.97px; top: 13.18px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">COMPANY NAME</div>
      <div style="width: 316px; height: 29px; left: 173.98px; top: 8.30px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
      <div style="width: 16px; height: 15px; left: 453px; top: 16.96px; position: absolute; opacity: 0.20; text-align: right; color: #1A1818; font-size: 12px; font-family: Inter; font-weight: 700; letter-spacing: 2.40px; word-wrap: break-word">^</div>
      <div style="width: 154px; height: 26px; left: 55.93px; top: 52.18px; position: absolute; border: 1px black solid"></div>
      <div style="width: 28px; height: 1px; left: 0.18px; top: 30.74px; position: absolute; background: #D9D9D9"></div>
      <div style="width: 140px; height: 23px; left: 229.93px; top: 52.36px; position: absolute; background: #FFFDFD; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
      <div style="width: 33px; height: 57px; left: -2.76px; top: 21.48px; position: absolute; transform: rotate(-179.94deg); transform-origin: 0 0"></div>
      <div style="width: 110px; height: 20px; left: 77.93px; top: 57.20px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Import Card Data</div>
      <div style="width: 104px; height: 17px; left: 254.93px; top: 55.38px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Add Company</div>
      <div style="left: 411.93px; top: 56.55px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Delete Company</div>
      <div style="left: 30.56px; top: 411.15px; position: absolute; color: black; font-size: 20px; font-family: Inter; font-weight: 500; word-wrap: break-word">Contacts</div>
      <div style="width: 461px; height: 311px; left: 66.91px; top: 89.57px; position: absolute; border: 1px #DFD7D7 solid">
        <div style="width: 358px; height: 29px; left: 86px; top: 13px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 76px; height: 18px; left: 9px; top: 20px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Address 1 </div>
        <div style="width: 76px; height: 18px; left: 9px; top: 56px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Address 2 </div>
        <div style="width: 77px; height: 18px; left: 7px; top: 92px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Address 3</div>
        <div style="width: 45px; height: 90px; left: 303.02px; top: 262.03px; position: absolute">
       
        </div>
        <div style="width: 358px; height: 29px; left: 86px; top: 49px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 358px; height: 29px; left: 86px; top: 85px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 72px; height: 18px; left: 10px; top: 127px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">City</div>
        <div style="width: 267px; height: 29px; left: 86px; top: 123px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 74px; height: 18px; left: 9px; top: 200px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Country</div>
        <div style="width: 268px; height: 26px; left: 85px; top: 198px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 74px; height: 18px; left: 11px; top: 166px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">State</div>
        <div style="width: 268px; height: 29px; left: 86px; top: 160px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 295px; height: 29px; left: 85px; top: 266px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 74px; height: 18px; left: 10px; top: 234px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Pincode</div>
        <div style="width: 74px; height: 18px; left: 10px; top: 272px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Phone</div>
        <div style="width: 169px; height: 26px; left: 86px; top: 232px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
      </div>
      <div style="width: 130px; height: 26px; left: 397.93px; top: 52.53px; position: absolute; border: 1px black solid"></div>
      <div style="left: 504.97px; top: 15.65px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 600; word-wrap: break-word">Edit</div>
      <div style="width: 609px; height: 143px; left: 27.52px; top: 449.15px; position: absolute; background: #FAD26B; border-radius: 3px; border: 1px black solid"></div>
      <div style="width: 833px; height: 105px; left: 663.64px; top: 344.20px; position: absolute">
        <div style="width: 646px; height: 35px; left: 4px; top: 57px; position: absolute; background: #D9D9D9; border: 1px black solid"></div>
        <div style="width: 74px; height: 19px; left: 16px; top: 66px; position: absolute; background: white; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 64px; left: 26px; top: 68px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">SD_Shiva</div>
        <div style="width: 69px; height: 19px; left: 493px; top: 66px; position: absolute; background: #D9D9D9; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 69px; height: 19px; left: 575px; top: 66px; position: absolute; background: #D9D9D9; border-radius: 3px; border: 1px black solid"></div>
        <div style="width: 64px; left: 586px; top: 68px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Delete</div>
        <div style="width: 271px; height: 13px; left: 3px; top: 16px; position: absolute"></div>
        <div style="left: 509px; top: 68px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Add</div>
      </div>
      <div style="width: 679px; height: 336px; left: 646.52px; top: 460.16px; position: absolute">
        <div style="width: 665px; height: 323px; left: 27px; top: 31.01px; position: absolute"></div>
      </div>
    </div>
    <div style="width: 1351px; height: 944px; left: 0px; top: 0px; position: absolute">
      <div style="width: 1351px; height: 925px; left: 0px; top: 0px; position: absolute">
        <div style="width: 1351px; height: 917px; left: 0px; top: 0px; position: absolute">
          <div style="width: 18px; height: 13px; left: 55px; top: 55px; position: absolute; background: #EEE2E2; border-radius: 9999px"></div>
          <div style="width: 521px; height: 57px; left: 9px; top: 752px; position: absolute; background: white">
            <div style="width: 171px; height: 29px; left: 278px; top: 24px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 171px; height: 29px; left: 174px; top: 75px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 55px; left: 290px; top: 33px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Create new doc type</div>
            <div style="left: 202px; top: 82px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Open mail template </div>
            <div style="width: 519px; height: 133px; left: 122px; top: 0px; position: absolute; background: white"></div>
          </div>
          <div style="left: 61px; top: 29px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Customer Category</div>
          <div style="width: 31px; height: 13px; left: 86px; top: 56px; position: absolute"></div>
          <div style="left: 77px; top: 54px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">EC</div>
          <div style="left: 151px; top: 55px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">PC</div>
          <div style="width: 322px; height: 23px; left: 193px; top: 30px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
          <div style="width: 228px; height: 24px; left: 232px; top: 29px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word">Quotation Manager: 2.1.9</div>
          <div style="left: 747px; top: 37px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 500; word-wrap: break-word">Make Quotation</div>
          <div style="width: 477px; height: 362px; left: 747px; top: 76px; position: absolute; background: white; border: 1px #DFD7D7 solid">
            <div style="width: 76px; height: 18px; left: 28.02px; top: 18.03px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Date</div>
            <div style="width: 92px; height: 18px; left: 6px; top: 54px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Your Enquiry</div>
            <div style="width: 77px; height: 18px; left: 10px; top: 90px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Person 1</div>
            <div style="width: 280px; height: 29px; left: 96px; top: 48px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 281px; height: 29px; left: 96px; top: 86px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 72px; height: 18px; left: 13px; top: 132px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Person 2</div>
            <div style="width: 281px; height: 29px; left: 96px; top: 124px; position: absolute; background: white; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 74px; height: 18px; left: 11px; top: 201px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Template</div>
            <div style="width: 140px; height: 23px; left: 64px; top: 15px; position: absolute; background: #FFFDFD; border-radius: 3px; border: 1px rgba(0, 0, 0, 0.20) solid"></div>
            <div style="left: 215px; top: 19px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Ref No</div>
            <div style="width: 84px; height: 23px; left: 264px; top: 15px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="left: 357px; top: 19px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Sender</div>
            <div style="width: 44px; height: 19px; left: 416px; top: 18px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 13px; height: 14px; left: 388px; top: 54px; position: absolute; border: 1px black solid"></div>
            <div style="width: 50px; left: 408px; top: 54px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">Default</div>
            <div style="left: 215px; top: 90px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">drop down</div>
            <div style="left: 216px; top: 129px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">drop down</div>
            <div style="width: 13px; height: 14px; left: 109px; top: 161px; position: absolute; border: 1px black solid"></div>
            <div style="left: 128px; top: 161px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Open</div>
            <div style="width: 13px; height: 14px; left: 188px; top: 162px; position: absolute; border: 1px black solid"></div>
            <div style="left: 207px; top: 160px; position: absolute; color: black; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Print</div>
            <div style="width: 281px; height: 29px; left: 96px; top: 194px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="left: 217px; top: 201px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">drop down</div>
            <div style="width: 367px; height: 78px; left: 14px; top: 257px; position: absolute; background: #D9D9D9; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 228px; height: 24px; left: 96px; top: 284px; position: absolute; color: black; font-size: 18px; font-family: Inter; font-weight: 700; word-wrap: break-word">MAKE QUOTATION</div>
            <div style="width: 81px; height: 67px; left: 388px; top: 162px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
            <div style="width: 61px; left: 397px; top: 175px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">    Open Quotation Template</div>
          </div>
          <div style="width: 18px; height: 13px; left: 130px; top: 56px; position: absolute; background: #EEE2E2; border-radius: 9999px"></div>
          <div style="width: 676px; height: 350px; left: 654px; top: 552px; position: absolute">
            <div style="width: 666px; height: 341px; left: 32px; top: 16px; position: absolute">
              <div style="width: 100px; height: 100px; left: 165px; top: 54px; position: absolute"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 651.23px; height: 302.26px; left: 675.77px; top: 544px; position: absolute">
    <div style="width: 647.59px; height: 199.49px; left: 1.80px; top: 31.80px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="width: 647.50px; height: 0px; left: 2.01px; top: 55.05px; position: absolute; border: 1px rgb(119, 119, 119) solid"></div>
    <div style="width: 0px; height: 200px; left: 62.23px; top: 31px; position: absolute; border: 1px rgb(119, 119, 119) solid"></div>
    <div style="width: 0px; height: 198px; left: 146.23px; top: 31px; position: absolute; border: 1px rgb(119, 119, 119) solid"></div>
    <div style="width: 0px; height: 199px; left: 310.23px; top: 30px; position: absolute; border: 1px rgb(119, 119, 119) solid"></div>
    <div style="width: 0px; height: 197.83px; left: 503.23px; top: 31px; position: absolute; transform: rotate(-0.62deg); transform-origin: 0 0; border: 1px rgb(119, 119, 119) solid"></div>
    <div style="left: 13.23px; top: 37.17px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">refno</div>
    <div style="left: 78.23px; top: 37.18px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">revno</div>
    <div style="left: 200.23px; top: 36.23px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">Sender</div>
    <div style="left: 356.23px; top: 36.49px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">company name</div>
    <div style="left: 571.23px; top: 36.15px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 700; word-wrap: break-word">date</div>
    <div style="width: 649.65px; height: 0px; left: 0.01px; top: 86.05px; position: absolute; border: 1px black solid"></div>
    <div style="width: 649.79px; height: 0px; left: 0.01px; top: 115.05px; position: absolute; border: 1px black solid"></div>
    <div style="width: 649.95px; height: 0px; left: 0.01px; top: 146.05px; position: absolute; border: 1px black solid"></div>
    <div style="width: 648.08px; height: 2.18px; left: 2.01px; top: 174.05px; position: absolute; border: 1px black solid"></div>
    <div style="width: 650.74px; height: 0.80px; left: 0.01px; top: 206.05px; position: absolute; border: 1px black solid"></div>
    <div style="width: 298px; height: 23px; left: 200.60px; top: 278.32px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="left: 97.60px; top: 278.82px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 500; word-wrap: break-word">Mail template</div>
    <div style="left: 19.44px; top: 246.21px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 500; word-wrap: break-word">open</div>
    <div style="width: 128px; height: 50px; left: 522.45px; top: 246.73px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="left: 279.61px; top: 279.93px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">drop down</div>
    <div style="width: 77px; height: 26px; left: 8.42px; top: 242.26px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="width: 77px; height: 26px; left: 8.59px; top: 276.26px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="left: 19.63px; top: 283.21px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 500; word-wrap: break-word">Revise</div>
    <div style="width: 298px; height: 23px; left: 200.45px; top: 246.32px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
    <div style="left: 106.46px; top: 248.78px; position: absolute; color: black; font-size: 13px; font-family: Inter; font-weight: 500; word-wrap: break-word">Brouchure</div>
    <div style="left: 279.46px; top: 249.93px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">drop down</div>
    <div style="left: 562.53px; top: 261.53px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 500; word-wrap: break-word">E-mail it</div>
    <div style="left: 672px; top: 595px; position: absolute; color: red; font-size: 14px; font-family: Inter; font-weight: 500; word-wrap: break-word">Delete Quotation</div>    
    <div style="width: 144px; height: 20px; left: 284.23px; top: 5px; position: absolute; color: black; font-size: 12px; font-family: Inter; font-weight: 700; word-wrap: break-word">Filter By Company Name</div>
    <div style="width: 213px; height: 19px; left: 438.23px; top: 3px; position: absolute; border-radius: 3px; border: 1px black solid"></div>
  </div>
</div>