<div>
    <div class="container"></div>
    <h2 style="text-align: center;"><strong>CALL TICKET SCREEN</strong></h2><br>
    <div class="col-md-12 row">
        <div class="col-md-4">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td colspan="4"><ng-select [items]="customerList" [bindLabel]="'companyName'"
                            [(ngModel)]="selectedCustomer" (change)="onSelectCustomer($event)">
                            <ng-option value="" disabled>Select Customer</ng-option>
                        </ng-select></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p *ngIf="companyName == null">Address 1</p>
                        <p *ngIf="companyName != null"><b> {{addressOne}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p *ngIf="companyName == null">Address 2</p>
                        <p *ngIf="companyName != null"><b>{{addressTwo}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <p *ngIf="companyName == null">Address 3</p>
                        <p *ngIf="companyName != null"><b>{{addressThree}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>City</p>
                    </td>
                    <td>
                        <p><b>{{city}}</b></p>
                    </td>
                    <td>
                        <p>Pin</p>
                    </td>
                    <td>
                        <p><b>{{pincode}}</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>State</p>
                    </td>
                    <td>
                        <p><b>{{state}}</b></p>
                    </td>
                    <td>
                        <p>Zone</p>
                    </td>
                    <td><b>{{zone}}</b></td>
                </tr>
                <tr>
                    <td>
                        <p>Cluster</p> 
                    </td>
                    <td><b>{{cluster}}</b></td>
                    <td>
                        <p>Route</p> 
                    </td>
                    <td><b>{{routeNo}}</b></td>
                </tr>
            </table>
        </div>
        <div class="col-md-8" style="overflow: auto; height: 240px;">
            <table class="table table-bordered table-with-bold-lines">
                <tr style="text-align: center;">
                    <th>SNo</th>
                    <th>Select</th>
                    <th>Ticket No.</th>
                    <th>M/c no</th>
                    <th>Model</th>
                    <th>Status</th>
                    <th>Start Dt</th>
                    <th>End Dt</th>
                    <th>Inv No</th>
                    <th>Inv Dt</th>
                    <th>Inv Value</th>
                </tr>
                <!-- let abc of perticularCustomerInvoiceData ; let tickets of customerTicketList; -->
                <tr
                    *ngFor="let machine of MachineTicketList ;  let i = index" [style.background-color]="isRowSelected(machine.machineNumber) ? 'lightblue' : 'white'">
                    <td style="text-align: right;">{{(i+1)}}</td>
                    <td class="hover-text" (click)="onRowClick(machine.machineNumber)" style="cursor: pointer;"></td>
                    <td style="text-align: right;">{{machine.tokenNo}}</td>
                    <td style="text-align: right;">
                        {{machine.machineNumber}}
                    </td>
                    <td>{{machine.modelName}}</td>
                    <td>{{machine.invoicePerticular}}</td>
                    <td>{{machine.warrantyFrom | date}}</td>
                    <td>{{machine.warrantyTill | date}}</td>
                    <td style="text-align: right;">{{machine.invoiceNumber}}</td>
                    <td style="text-align: right;">{{machine.invoiceDate | date}}</td>
                    <td style="text-align: right;">{{machine.invoiceAmount}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-3">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td>GST</td>
                    <td colspan="3" style="width: 65%;"><b>{{gstin}}</b></td>
                </tr>
                <tr>
                    <td>Weekly Off</td>
                    <td colspan="2"><b>{{weeklyOff}}</b></td>
                </tr>
                <tr>
                    <td>Working Hrs</td>
                    <td><b>{{workingStart}}</b></td>
                    <td><b>{{workingEnd}}</b></td>
                </tr>
                <tr>
                    <td>Security Req</td>
                    <td colspan="2"><b>{{securityFormalities}}</b></td>
                </tr>
            </table>
        </div>
        <div class="col-md-1">
         </div>
        <div class="col-md-7">
            <div class="flex-column align-items-center">
                <div class="col-md-12 row">
                    <div class="col-md-12" style="overflow: auto; height: 200px;">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td style="text-align: center; padding: 0px;" colspan="6">
                        <h4>Contact Persons</h4>
                    </td>
                </tr>
                <tr style="text-align: center;">
                    <th style="width: 5%;">SNo</th>
                    <th>Sal</th>
                    <th>Name</th>
                    <th style="width: 20%;">Mobile</th>
                    <th style="width: 37%;">Email</th>
                    <th>Designation</th>
                </tr>
                <tr *ngFor="let details of contactDetails; let i = index" [style.background-color]="isSelectedRow(details.id) ? 'lightblue' : 'white'">
                    <td style="cursor: pointer;text-align: right;" (click)="onClickRow(details)" class="hover-text">{{(i+1)}}</td>
                    <td style="text-align: left;">{{details.salute}}</td>
                    <td style="text-align: left;">{{details.contactName}}</td>
                    <td style="text-align: right;">{{details.mobile}}</td>
                    <td style="text-align: left;">{{details.email}}</td>
                    <td style="text-align: left;">{{details.designation}}</td>
                </tr>
            </table></div> 
            <div class="col-md-12 row" *ngIf="machineSelected">
                <h3><hr>Add Contact:</h3>&nbsp;
                <div class="col-md-2">
                    <label for="machineNumber"><strong>Salute:</strong></label>
                    <input class="form-control" type="text" id="salute" name="salute" [(ngModel)]="salute" required>
                </div>
                <div class="col-md-2">
                    <label for="machineNumber"><strong>Contact Name:</strong></label>
                    <input class="form-control" type="text" id="contactname" name="contactname" [(ngModel)]="contactname" required>
                </div>
                <div class="col-md-2">
                    <label for="address1"><strong>Designation:</strong></label>
                    <input class="form-control" id="designation" name="designation" [(ngModel)]="designation" required>
                </div>
                <div class="col-md-2">
                    <label for="address1"><strong>Email:</strong></label>
                    <input class="form-control" id="email" name="email" [(ngModel)]="email" required>
                </div>
                <div class="col-md-2">
                    <label for="address1"><strong>Mobile:</strong></label>
                    <input class="form-control" id="mobile" name="mobile" [(ngModel)]="mobile" required>
                </div>
                <!-- <div class="col-md-1">
                    <br> <button class="form-control" type="submit" class="btn btn-primary" (click)="addContactDetails()">Add</button>
                </div> -->
            </div>
            </div>
        </div></div>
        <div class="col-md-1"><br><br><br><br>
            <br><button class="form-control" type="submit" class="btn btn-primary" (click)="addContactDetails()">Save Contact</button>
        </div>
    </div>
</div><br>
<div style="background-color: rgb(249, 249, 249); padding: 15px">
    <div class="col-md-12 row">
        <div class="col-md-4">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td>Date:</td>
                    <td style="text-align: center;"><b>{{value | date}}</b></td>
                    <td>Time:</td>
                    <td style="text-align: center;"><b>{{ systemTime | async | date: 'HH:mm:ss' }}</b></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="startTimer()">Start Timer</button>&nbsp;&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="endTimer()">End Timer</button>
        </div>
        <div class="col-md-2">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td>Ticket No.</td>
                    <td style="width: 60%;"><input style="text-align: right;" type="text" name="Machine" [(ngModel)]="tokenNo"
                            class="form-control" readonly></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-1">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td>Login</td>
                    <td style="text-align: left;">
                        <b>{{userName}}</b>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-11" style="overflow: auto; height: 150px;">
            <table class="table table-bordered table-with-bold-lines">
                <tr style="text-align: center;">
                    <th>S No</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Log by</th>
                    <th>Cust Call From</th>
                    <!-- <th>Called back by</th> -->
                    <th>Fault/Issue</th>
                    <th>Resolution</th>
                    <th>Entered Priority</th>
                </tr>
                <!-- *ngFor="let tickets of customerTicketList; let i = index" -->
                <tr>
                    <td></td>
                    <td>{{value | date}}</td>
                    <td>{{startTime | date:'hh:mm:ss' }}</td>
                    <td>{{endTime | date:'hh:mm:ss' }}</td>
                    <td>{{userName}}</td>
                    <td>{{contactName}}</td>
                    <td><input type="text" name="fault" [(ngModel)]="foult" class="form-control"></td>
                    <td><input type="text" name="resolution" [(ngModel)]="Resolution" class="form-control"></td>
                    <td></td>
                </tr>
            </table>
        </div>
        <div class="col-md-1">
            <div class="flex-column align-items-center">
                <div class="col-md-12">
                    <button class="btn btn-primary" style="height: 65px;width: 130px;" (click)="clear()">Done - clear
                    </button>
                    <br><br>
                    <button class="btn btn-primary" style="height: 65px;width: 130px;" (click)="saveRequest()">To Workfront</button><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 row">
        <div class="col-md-10">
            <div class="flex-column align-items-center">
                <div class="col-md-12 row">
                    <div class="col-md-5">
                        <br><br>
                        <table class="table table-bordered table-with-bold-lines">
                            <tr>
                                <th colspan="2">Call Entry - Priority</th>
                            </tr>
                            <tr>
                                <td>
                                    <label for="unit">Tele Support:</label>
                                    <ng-select [items]="teleSupportrequestslist" name="requestsName"
                                        [(ngModel)]="selectedrequestt" [multiple]="true" placeholder="Select Options"
                                        (change)="onSelectRequest()">
                                    </ng-select>
                                </td>
                                <td>
                                    <label for="unit">Field Visit:</label>
                                    <ng-select [items]="fieldVisitRequestslist" name="requestsName"
                                        [(ngModel)]="selectedrequestf" [multiple]="true" placeholder="Select Options"
                                        (change)="onSelectRequest()">
                                    </ng-select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- <div class="col-md-4">
                        <h4>Fault</h4>
                        <textarea [(ngModel)]="foult" class="form-control table-with-bold-lines" name="text" rows="6"
                            cols="100"></textarea>
                    </div>
                    <div class="col-md-3">
                        <h4>Resolution</h4>
                        <textarea [(ngModel)]="Resolution" class="form-control" name="text" cols="100"
                            rows="6"></textarea>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>
<br><br><br>
