

<div class="col-md-12 row">
    <div class="col-md-1"></div>
    <div class="col-md-11">

        <div class="container" style="border: 0cap;">

            <div class="col-md-12 row">
                <div class="col-md-1"></div>
                <div id="printsection" class="col-md-8 table-bordered"
                    style="background-color:white;border-color:forestgreen;border-width:2px">

                    <div class="col-md-12 row">
                        <div class="col-md-8">
                          
                        </div>
                        <div class="col-md-4 logo">
                           <img class="logo" style="width: 50%;" src="assets/Group 2CRMlogo2.png" alt="logo"> 
                        </div>
                      
                    </div>
                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
                        <tr style="border: 1px solid black;height: 25px;">
                       
                         
                            <td style="width: 33%; vertical-align: top; border: 1px solid black; text-align: center; background-color: rgb(212, 212, 212);">
                                <!-- Centered content -->
                                <p style="border-bottom: 1px solid black;">Ref.No: </p>
                                <p style="border-bottom: 1px solid black;">Date:</p>
                                <p style="border-bottom: 1px solid black;">Your Enquiry: </p>
                                <p style="border-bottom: 1px solid black;">Kind Attention:</p>
                                <p style="border-bottom: 0px solid black;">Billing Address:</p>
                            </td>
                            

                            <td class="abc" style="width: 33%; vertical-align: top; border: 1px solid black; text-align: right; background-color:none">
                                
                                <!-- Right-aligned content -->
                                <p style="border-bottom: 1px solid black;">{{RefID}}</p>
                                <p style="border-bottom: 1px solid black;">{{value | date}} </p>
                                <p style="border-bottom: 1px solid black;">Email/Telephonic </p>
                                <p style="border-bottom: 1px solid black;"> Mr. M. Sundaram </p>
                                <p style="border-bottom: 0px solid black;">{{billingAddress}}</p>

                            </td>
                        </tr>

                    </table>

                    <div style="text-align: left;">
                        <br>
                        Dear Sir/Madam,<br><br>
                        <p><strong>Sub: <u>Offer of Vision Inspection system accessories – “ Rapid – I”</u></strong></p>
                       




                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black;">
                        <tr>
                            <td colspan="4">
                                <h4 style="text-align: center;">Vision Inspection system “Rapid-I”<strong>
                                    </strong>

                                </h4>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >Sl.no</p>

                            </td>


                            <td style="width: 40%; vertical-align: top; border: 1px solid black;">
                                <p >Description</p>

                            </td>


                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >Qty</p>

                            </td>


                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >Price</p>
                            </td>

                        </tr>

                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                1.
                            </td>
                            <td style="width: 65%; vertical-align: top; border: 1px solid black; background-color: lightblue;">
                                2MP Rapidcam Cable for Rapid-I VMS



                            </td>
                            

                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                1 No
                            </td>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                6,500=00


                            </td>


                        </tr>



                        <tr>



                            <tr>
                                <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                    2.
                                </td>
                                <td style="width: 65%; vertical-align: top; border: 1px solid black; background-color: lightblue;">
                                    Service Visit Charges
    
    
    
                                </td>
                                
    
                                <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                    1 Time
                                </td>
                                <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                    4,200=00


    
                                </td>
    
    
                            </tr>
    
    
    
                            <tr>

                                <tr>
                                    <td   colspan="4"  style="width: 5%; vertical-align: top; border: 1px solid black;">
                                        <h5 style="text-align: center;"> <strong>Total Accessories price : Rs. 10,700=00  <br>
                                            ( Rupees Ten Thousand Seven Hundred Only )
        
                                            </strong>
        
                                        </h5>
                                    </td>
                                </tr>





                      
                     

                    </table>
                    <table style="width: 100%; margin-top: 20px; border-collapse: collapse; border: 1px solid black; ">
                        <tr>
                            <td colspan="4" >
                                <h4 style="text-align: center; background-color: rgb(212, 212, 212);"><strong> TERMS AND CONDITIONS
                                    </strong> 

                                </h4>
                            </td>
                        </tr>

                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >1.</p>

                            </td>


                            <td style="width: 10; vertical-align: top; border: 1px solid black;">
                                <p >Price</p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >Packing, Forwarding, Freight and Insurance @ Nil extra

                                </p>

                            </td>
                        </tr>

                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >2.</p>

                            </td>


                            <td style="width: 20; vertical-align: top; border: 1px solid black;">
                                <p >Validity</p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >45 days from the date hereof



                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >3.</p>

                            </td>


                            <td style="width: 20; vertical-align: top; border: 1px solid black;">
                                <p >Delivery</p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p > One Week from the date of receipt of technically and commercially clear  Purchase order

                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >4.</p>

                            </td>


                            <td style="width: 20; vertical-align: top; border: 1px solid black;">
                                <p >Tax</p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >GST 18%</p>

                            </td>
                        </tr>

                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >5.</p>

                            </td>


                            <td style="width: 20; vertical-align: top; border: 1px solid black;">
                                <p >GST Details:</p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >GSTIN: 29AAACC8014D1Z0;   HSN: 84733099;   SAC: 998717</p>

                            </td>
                        </tr>



                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >6.</p>

                            </td>


                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p > <strong> Payment terms </strong></p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >100% advance alongwith Purchase Order. prior to despatch.  



                                </p>

                            </td>
                        </tr>
                        <tr>
                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >7.</p>

                            </td>


                            <td style="width: 5%; vertical-align: top; border: 1px solid black;">
                                <p >Jurisdiction
                                </p>

                            </td>


                            <td style="width: 70%; vertical-align: top; border: 1px solid black;">
                                <p >Subject to Bangalore Jurisdiction </p>

                            </td>
                        </tr>
                    </table></div>

                    <div style="text-align: left;">
                  
                        <p>For  <strong> CUSTOMISED TECHNOLOGIES (P) LTD.,</strong></p>
    
                       <strong> Shivaputra B Dinni </strong> <br />
                       <strong>    (Sr. Application Engg) </strong><br />
    
                    </div> </div>

              


                </div><br>
    
                <div>&nbsp;</div>
    

        <!-- <button type="button" class="btn btn-success" data-dismiss="modal"
            style="background-color: rgb(27, 9, 129);" (click)="save()">SAVE</button>  -->

            <div class="col-md-12 row"><br />
                <div class="col-md-4">&nbsp;</div>
                <div class="col-md-2">
                    <input type="button" (click)="print('printsection')" value="PRINT"
                        class="form-control btn-warning" />
                </div>
                <br><br> <br><br> <br><br> <br><br>
                <div class="col-md-4">&nbsp;</div>
            </div>
      
   






