<br>
<div #table>
    <!-- first division -->
    <!-- <div class="container"></div> -->
    <div class="col-md-12 row">
        <div class="col-md-6">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <th style="width: 20%;">Vehicle</th>
                    <td style="width: 15%;"><input type="text" [(ngModel)]="vehicle" class="form-control"></td>
                    <td style="width: 20%;"><h6>Mileage CNG Kgs</h6></td>
                    <td style="width: 15%;"><h6>M Petrol L</h6></td>
                    <td style="width: 15%;"><h6>M Diesel L</h6></td>
                    <td><h6>Fuel Reqd Kgs</h6></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input *ngIf="totalEstDistKms != null" type="text" [(ngModel)]="mileageCng" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="mileagePetrol" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="mileageDiesel" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="fuelReqd" class="form-control"></td>
                </tr>
                <tr>
                    <th>Fuel Price</th>
                    <td>Rs. </td>
                    <td><input type="text" [(ngModel)]="FuelPriceCNG" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="FuelPricePetrol" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="FuelPriceDiesel" class="form-control" (ngModelChange)="onInputChange()"></td>
                    <td><input type="text" [(ngModel)]="fuelPriceReqd" class="form-control"></td>
                </tr>
                <tr>
                    <th>Spares Reqd</th>
                    <td colspan="5"><input type="text" [(ngModel)]="sparesReqd" class="form-control"></td>
                </tr>
            </table>
        </div>
        <div class="col-md-2" style="margin-top: -25px;">
            &nbsp;&nbsp;
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <td style="text-align: center;width: 60%;"><h4>TRIP SHEET</h4></td>
                    <th><h4>No. {{tripSheetNo}} </h4></th>
                </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2" style="margin-top: 25px;">
            <table class="table table-bordered table-with-bold-lines">
                <tr>
                    <th style="width: 50%;"><h6>Engineer</h6></th>
                    <td><b>{{userName}}</b></td>
                </tr>
                <tr>
                    <th><h6>Date</h6></th>
                    <td><strong>{{value | date:'dd MMM yyyy'}}</strong></td>
                </tr>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>

    <!-- second division -->
    <div class="col-md-12 row">
        <div class="col-md-11">
            <table class="table table-bordered table-with-bold-lines">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th style="width: 15%;">Location</th>
                        <th style="width: 3%;"></th>
                        <th>M/C No</th>
                        <th style="width: 13%;">Purpose</th>
                        <th>Task Class</th>
                        <th>Cluster Location</th>
                        <th>Est. Dist kms</th>
                        <th>Est. Trvl Time</th>
                        <th>Food, Fuel others</th>
                        <th>Est. Job Time </th>
                        <th>Schd ET</th>
                        <th>Actual Time</th>
                        <th>Actual ODO Read</th>
                        <th>Sequence</th>
                    </tr>
                </thead>
                <tr>
                    <td>0</td>
                    <td><input type="text" [(ngModel)]="startPlace" class="form-control"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><input type="text" [(ngModel)]="startCluster" class="form-control"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td> <input type="time" [ngModel]="initialTime" (ngModelChange)="initialTime = $event; updateScheduleTimes()" class="form-control"></td>
                    <td></td>
                    <td></td>
                </tr>
                <ng-container *ngFor="let item of selectedData;  let i = index">
                    <tr>
                        <td rowspan="2">{{(i+1)}}</td>
                        <td rowspan="2"><strong>{{item.companyName}}</strong></td>
                        <td rowspan="2"></td>
                        <td rowspan="2" style="text-align: right;">{{item.machineNumber}}</td>
                        <td rowspan="2" *ngIf="item.requestFor != ''"><strong>{{item.requestFor}}</strong></td>
                        <td rowspan="2" *ngIf="item.requestFor == ''"><input type="text" [(ngModel)]="item.purpose" class="form-control"></td>
                        <td rowspan="2"></td>
                        <td rowspan="2"><strong>{{item.cluster}}</strong></td>
                        <td rowspan="2" *ngIf="item.requestFor != ''"></td>
                        <td rowspan="2" *ngIf="item.requestFor == ''"><input type="text" [(ngModel)]="item.estDistKms" (ngModelChange)="item.estTravelTime = $event; updateScheduleTimes()" class="form-control"></td>
                        <td *ngIf="item.requestFor != ''"></td>
                        <td *ngIf="item.requestFor == ''"><input type="time" [(ngModel)]="item.estTravelTime" (ngModelChange)="item.estTravelTime = $event; updateScheduleTimes()" class="form-control"></td>
                        <td *ngIf="item.requestFor != ''"></td>
                        <td *ngIf="item.requestFor == ''"><input type="time" [(ngModel)]="item.FoodFuel" (ngModelChange)="item.FoodFuel = $event; updateScheduleTimes()" class="form-control"></td>
                        <td *ngIf="item.requestFor != ''"><input type="time" [(ngModel)]="item.estJobTime" (ngModelChange)="item.estJobTime = $event; updateScheduleTimes()" class="form-control"></td>
                        <td *ngIf="item.requestFor == ''"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td rowspan="2" style="text-align: center;padding-top: 35px;"><b>{{(i+1)}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td> <input type="time" [(ngModel)]="item.schdET" class="form-control"></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-container>
                <tr>
                    <td colspan="6"></td>
                    <th>Totals</th>
                    <td style="text-align: center;"><strong>{{ totalEstDistKms }}</strong></td>
                    <td style="text-align: center;"><strong>{{formattedTotalEstTravelTime }}</strong></td>
                    <td style="text-align: center;"><strong>{{formattedTotalFoodFuel }}</strong></td>
                    <td style="text-align: center;"><strong>{{formattedTotalEstJobTime }}</strong></td>
                    <td style="text-align: center;"><strong>{{timeDifference }}</strong></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-primary" (click)="save()">Save</button></td>
                    <td><button class="btn btn-secondary" (click)="reSequence()">Resequence</button></td>
                </tr>
            </table>
        </div>
    </div>
</div><br>
<div style="text-align: center;">
    
    <button style="margin: 0 auto; margin: 15px;" class="btn btn-info" (click)="exportTableToPDF1()">Export
        to
        PDF &nbsp;&nbsp;<i class="far fa-file-pdf"></i></button>
</div><br><br><br><br>