<br><div class="col-md-12 row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
    <h2><strong>Your Trips</strong></h2>
    
</div>
<div class="col-md-2"><button class="btn btn-primary" (click)="newEntry()">New Entry</button></div>
</div><br>
<div class="col-md-12 row">
    <div class="col-md-2"></div>
    <div class="table col-md-7">
        <table class="table table-bordered" #table id="tableId">
            <thead>
              <tr>
                <th scope="col">Sl</th>
                <th scope="col">Trip ID</th>
                <th scope="col">Created On</th>
                <th scope="col">Feed</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let abc of tripList | paginate: { itemsPerPage: 5, currentPage: p } ; let i = index">
                <td>{{5 * (p-1)+(i+1)}}</td>
                <td>{{abc.travelId}}</td>
                <td>{{abc.createdOn | date }}</td>
                <td><button class="btn btn-primary" (click)="openTravelBudget(abc)">Feed</button></td>
              </tr>              
            </tbody>
          </table>
    </div><div class="col-md-3"></div></div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-3">
    <pagination-controls (pageChange)="p = $event" class="custom-pagination" style="float: right"></pagination-controls> 
  </div>
  </div>
  <div style="text-align: center;" >
    <button style="margin: 0 auto;" class="btn btn-info" (click)="exportTableToExcel()">Export to Excel
        &nbsp;&nbsp;<i class="far fa-file-excel"></i></button>
    <button style="margin: 0 auto; margin: 15px;" class="btn btn-info" (click)="exportTableToPDF()">Export to
        PDF &nbsp;&nbsp;<i class="far fa-file-pdf"></i></button>
</div>
